<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TRAVELER</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../styles/styling.css"> -->

</head>

<body>
    <img alt="Logo" class="logo" id="logo">
    <div class="container">
        <div class="content">
            <div class="city-form">
                <label for="">Destination:</label>
                <input type="text" id="cities">
            </div>
            <div class="date-depart">
                <label for="">Depart:</label>
                <input type="date" id="depart" name="depart">
            </div>
            <div class="date-return">
                <label for="">Return:</label>
                <input type="date" id="return" name="return">
            </div>
            <div class="date-submit">
                <input type="submit" onsubmit="Client.handleSubmit(this)" id="btn" value="Submit">
            </div>
        </div>
    </div>

</body>

</html>