
#container-result{

    margin-top: 2%;
    background-color: white;
    height:45%;
    min-width:90%;
    align-items: center;
    border: 2px solid #005e80;
    border-radius: 20px;
    align-content: center;
    display: none;

}

.content-result{

    align-items: center;
    padding:2%;
    display: flex;
    justify-content:space-evenly;

}

b{

    color: red;
}

.img-result{

    max-width:30%;
}

.icon{

    position: absolute;

}